* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Arsenal", sans-serif;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
a, p {
  font-size: 1.25rem;
}

.active {
  text-decoration: underline;
}

#floating-bg {
  position: inherit;
  top: 0;
  overflow: hidden;
  z-index: -1000;
  /* transform: translate(1px); */
}

.bg-img {
  width: 40vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  position: fixed;
  z-index: -1000;
  opacity: 50%;
}

.bg-stars {
  transform-origin: center;
  opacity: 30%;
  position: fixed;
  z-index: -1000;
  width: 150vw;
}

.header {
  transform: translateY(1rem);
  opacity: 0;
  -webkit-animation: fadeIn ease-in 0.5s;
  -moz-animation: fadeIn ease-in 0.5s;
  -ms-animation: fadeIn ease-in 0.5s;
  -o-animation: fadeIn ease-in 0.5s;
  animation: fadeIn ease-in 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2ms;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: scaleY(-1) translate(0, 100%);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 150px;
}

#about {
  background: rgba(256, 256, 256, 0.5);
  height: 60vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 250px;
}

.intro-content {
  margin-bottom: 5rem;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.stats > .stat {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.stats > .descr {
  justify-self: center;
  text-align: center;
  align-self: center;
}

.wave .shape-fill {
  fill: white;
  opacity: 0.5;
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: scaleX(-1);
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 150px;
}

.wave2 .shape-fill {
  fill: white;
  opacity: 0.5;
}

#equities {
  scroll-margin-top: 5rem;
  margin: 5rem 1rem;
  padding: 5rem 0rem;
}

.equities {
  margin-bottom: 3rem;
  display: flex;
}

.equities > .title-content {
  flex: 1;
}

.equities > .title-desc {
  flex: 1;
}

.research {
  margin-top: 3rem;
  padding: 3rem 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

.education > .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

#ventures {
  scroll-margin-top: 5rem;
  margin: 5rem;
  padding: 5rem 1rem;
}

#ventures > .ventures {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
}

#ventures > .ventures > .title-desc {
  flex: 2
}

#ventures > .ventures > .title-content {
  flex: 1
}

#ventures > .portfolio {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.images > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.images > figure .title {
  font-size: 2rem;
}