* {
  box-sizing: border-box;
}

body {
  /* background-color: #151515; */
  background-color: black;
  font-family: "Arsenal", sans-serif;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}

.inner-img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.person-bg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.person {
  margin: 2rem;
  position: relative;
  width: auto;
  height: fit-content;
}

.person-details {
  position: relative;
  border-radius: 50%;
  aspect-ratio: 1;
  opacity: 1;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.95);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.person-details:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.95);
  transform: scale(1.1);
}

.person-details > img {
  border-radius: inherit;
  position: relative;
  z-index: -1;
  aspect-ratio: 1;
  transform: scale(1.01);

  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.person-details:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.role {
  font-family: "Lato-light", sans-serif;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  a,
  p {
    font-size: 1.25rem;
  }

  .landing-container {
    display: flex;
    justify-content: center;
  }

  .landing {
    min-height: 80vh;
    padding: 3rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .landing > .descr {
    padding-top: 3rem;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
  }

  .stats > .stat {
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .stats > .descr {
    justify-self: center;
    text-align: center;
    align-self: center;
  }

  .education > .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }

  #ventures {
    scroll-margin-top: 5rem;
    margin: 5rem;
    padding: 5rem 1rem;
  }

  #ventures > .ventures {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
  }

  #ventures > .ventures > .title-desc {
    flex: 2;
    text-align: right;
    padding-right: 3rem;
  }

  #ventures > .ventures > .title-content {
    flex: 1;
  }

  #ventures > .portfolio {
    max-width: 80vw;
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .images > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .images > figure > img {
    height: 300px;
    width: 300px;
  }

  .images > figure .title {
    font-size: 2rem;
  }
}
